.galery{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    max-height: 3200px;
}

.img{
    margin-bottom:12px;
}

.block{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom:1%;
}

.block-1{
    width: 40%;
}

.block-2{
    width: 59.375%;
}

.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.galery-width-2{
    width: 67.4%;
}

.galery-width-3{
    width: 31.62%;
}
