.header{
    z-index: 15;
}

.photo-gallery{
    margin-top: -10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.img{
    margin-bottom:12px;
}

.block-1{
    width: 39.95%;
}

.block-2{
    width: 59.375%;
}

.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.photo-gallery-width-2{
    width: 67.4%;
}

.photo-gallery-width-3{
    width: 31.62%;
}

/*////////////////////slider///////////////////////*/
.text-style{
    color: white;
    font-size: 1vw;
}

.banner-title{
    font-size: 4vw;
    text-align: center;
    margin-top: -21%;
}

.banner-text{
    text-align: center;
    margin-top: -16%;
}

.banner-center-content{
    width: 100%;
    z-index: 20;
    position:absolute;
    text-align: center;
}

.wanna-know-more{
    width: 100%;
    z-index: 20;
    position:absolute;
    margin-top: -4%;
    font-size: 1vw;
    text-align: center;
}
.wanna-know-more-a{
    color: white;
}

.slider-menu{
    margin-top: 85px;
    width: 100%;
}

/*.slide-content{*/
    /*position:absolute;*/
    /*height: 100%;*/
    /*width: 100%;*/
    /*margin-top:-16vh;*/
    /*z-index: 20;*/
/*}*/

.slider-img{
    width: 100%;
    max-height: 82vh;
}

.slick-prev{
    z-index: 50;
    position: absolute;
    margin-left: 3.5%;
    margin-top: -4vh;
}
.slick-next{
    z-index: 50;
    position: absolute;
    margin-right: 5%;
    margin-top: -4vh;
}
.slick-prev:before{
    font-size: 100px;
    color: white;
    opacity: 0.75;

}
.slick-next:before{
    font-size: 100px;
    color: white;
    opacity: 0.75;

}
.slick-prev:before { content: "‹"; }
[dir="rtl"] .slick-prev:before { content: "›"; }

.slick-next:before { content: "›"; }
[dir="rtl"] .slick-next:before { content: "‹"; }

.slick-dots{
    position: absolute;
    margin-bottom: 3%;
}
.slick-dots li button[tabindex="0"]:before{
    font-size: 0.6vw;
    color:white;
    opacity: unset;
}
.slick-dots li button[tabindex="-1"]:before{
    font-size: 0.5vw;
    color:white;
    opacity: 0.6;
}

.preview{
    height: 100vh;
    width: 100%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.logo-preview-title{
    font-family: CoCoGothic;
    font-size: 60px;
    margin-top: 85px;
}

.logo-preview-caption{
    font-family: CoCoGothic;
    font-size: 24px;
    margin-top: 30px;
}

.preview-logo{
    background: url(../img/lV-black.png) 100% 100% no-repeat;
    background-size: cover;
    height: 250px;
    width: 250px;
}

.hidden-preview{
    top: -100%;
    transition: top 2s linear, overflow 2s linear;
}

.show-main-page{
    top: 0;
    transition: top 2.5s linear;
    width: 100%;
    position: absolute;
}

/*.main-page{*/
    /*width: 100%;*/
    /*display: none;*/
    /*position: absolute;*/
    /*top: 100%;*/
 /*}*/