.header{
    z-index: 15;
}

.photo-gallery{
    width: 100%;
    margin-top: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.img{
    margin-bottom:12px;
}

.block-1{
    width: 40%;
}

.block-2{
    width: 59.375%;
}

.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.photo-gallery-width-2{
    width: 67.4%;
}

.photo-gallery-width-3{
    width: 31.62%;
}

/*////////////////////slider///////////////////////*/
/*.text-style{*/
    /*text-align: center;*/
    /*color: white;*/
    /*font-size: 1vw;*/
/*}*/

/*.banner-title{*/
    /*font-size: 4vw;*/
    /*margin-bottom: 0.5%;*/
/*}*/

/*.banner-text{*/
    /*margin-top: 23%;*/
/*}*/

.slider-menu{
    width: 100%;
}

/*.wanna-know-more{*/
    /*color: white;*/
    /*z-index: 20;*/
    /*font-size: 1vw;*/
    /*position: absolute;*/
    /*margin-top: 44.4%;*/
    /*margin-left: 47%;*/
/*}*/
/*.wanna-know-more-a{*/
    /*color: white;*/
/*}*/