.banner-contacts{
    width: 100%;
    height: 737px;
    background: url(../img/banner-contacts.png) 100% 100% no-repeat;
    background-size: cover;
    margin-top: 115px;
}

@media screen and (max-width: 1100px) {
    .banner-contacts {
        margin-top: 85px;
    }
}

.inner-banner-container{
    width: 51.79%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    height: 100%;
}

.first-part-banner{
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1100px) {
    .first-part-banner {
        flex-direction: column;
    }
}


.banner-content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner-title{
    color: white;
    font-family: CoCoGothic;
    font-size: 36px;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1100px) {
    .banner-title {
        font-size: 28px;
    }
}

.banner-paragraph{
    color: white;
    margin-top: 45px;
}

.banner-list{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.column-1-banner-part{
    width: 43.8%;
    text-align: justify;
}

@media screen and (max-width: 1100px) {
    .column-1-banner-part {
        width: 100%;
    }
}


.column-2-banner-part{
    width: 30.2%;
    display: flex;
    justify-content: flex-end;
}

@media screen and (min-width: 1200px) and (max-width: 1550px) {
    .column-2-banner-part{
        width: 39.2%;
    }
}

@media screen and (min-width: 1101px) and (max-width: 1199px) {
    .column-2-banner-part{
        width: 42.2%;
    }
}

@media screen and (max-width: 1100px) {
    .column-2-banner-part {
        width: 100%;
        margin-top: 35px;
        display: flex;
        justify-content: center;
    }
}

.sprite-banner-img{
    width: 30px;
    height: 30px;
    background: url(../img/color-sprite.png);
    margin-right: 20px;
    background-size: cover;
}

@media screen and (min-width: 1200px) and (max-width: 1550px) {
    .sprite-banner-img{
        width: 30px;
        height: 30px;
    }
}

@media screen and (min-width: 981px) and (max-width: 1199px) {
    .sprite-banner-img{
        width: 25px;
        height: 25px;
    }
}

@media screen and (max-width: 980px) {
    .sprite-banner-img {
    }
}


.link-banner-list{
    color: white;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 1100px) {
    .link-banner-list {
        margin: 10px 0;
    }
}

.list-banner-img-2{
    background-position-x: -40px;
}

@media screen and (min-width: 1200px) and (max-width: 1550px) {
    .list-banner-img-2{
        background-position-x: -40px;
    }
}

@media screen and (min-width: 1101px) and (max-width: 1199px) {
    .list-banner-img-2{
        background-position-x: -40px;
    }
}

@media screen and (min-width: 981px) and (max-width: 1199px) {
    .list-banner-img-2{
        background-position-x: -34px;
    }
}

@media screen and (max-width: 980px) {
    .list-banner-img-2 {
    }
}

.list-banner-img-3{
    background-position-x: -78px;
}

@media screen and (min-width: 1200px) and (max-width: 1550px) {
    .list-banner-img-3{
        background-position-x: -78px;
    }
}

@media screen and (min-width: 1101px) and (max-width: 1199px) {
    .list-banner-img-3{
        background-position-x: -78px;
    }
}

@media screen and (min-width: 981px) and (max-width: 1199px) {
    .list-banner-img-3{
        background-position-x: -66px;
    }
}

.list-banner-img-4{
    background-position-x: -116px;
}

@media screen and (min-width: 981px) and (max-width: 1199px) {
    .list-banner-img-4{
        background-position-x: -96px;
    }
}

.second-part-banner{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.block-telephone{
    display: flex;
    margin-top: 65px;
}

@media screen and (max-width: 1100px) {
    .block-telephone {
        margin-top: 35px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.telephone-number{
    color: white;
    font-size: 21px;
    font-family: "Century Gothic";
}

@media screen and (min-width: 1200px) and (max-width: 1550px) {
    .telephone-number{
        font-size: 18px;
    }
}

@media screen and (min-width: 981px) and (max-width: 1199px) {
    .telephone-number{
        font-size: 16px;
        margin: 10px 0;
    }
}

@media screen and (max-width: 980px) {
    .telephone-number {
        font-size: 14px;
        margin: 10px 0;
    }
}

.telephone-number:first-of-type{
    margin-right: 80px;
}

@media screen and (max-width: 1100px) {
    .telephone-number:first-of-type{
        margin-right: 0;
    }
}

.second-sprites-container{
    width: 210px;
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
}

.second-sprites-item{
    width: 35px;
    height: 35px;
    background: url(../img/sprite-banner-contacts.png);
    background-size: cover;
}

.second-sprites-img-2{
    background-position-x: -40px;
}

.second-sprites-img-3{
    background-position-x: -81px;
}



.main{
    width: 100%;
}

.main-content{
    width: 100%;
    padding-top: 66px;
    display: flex;
    justify-content: space-between;
}

.first-main-column{
    display: flex;
    flex-direction: column;
    width: 30.7%;
    margin-left: 4.19%;
    justify-content: center;
}

.block-header-main{
    display: flex;
    justify-content: space-between;
}

.main-title{
    font-family: CoCoGothic;
    font-size: 36px;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1100px) {
    .main-title {
        font-size: 26px;
        justify-content: center;
    }
}

.main-logo{
    margin-right: 95px;
}

.main-paragraph{
    margin-top: 30px;
}

@media screen and (max-width: 1100px) {
    .main-paragraph {
        margin-top: 20px;
    }
}

.main-link-mail{
    font-family: CoCoGothic;
    font-size: 18px;
    margin-top: 25px;
}

.main-link-number {
    margin-top: 25px;
    font-size: 18px;
}

.second-main-column{
    width: 59.6%;
    display: flex;
    flex-direction: column;
}

.row-second-main{
    display: flex;
    justify-content: space-between;
}

.card-photo{
    width: 23.7%;
    height: 255px;
    background: url(../img/card-photo.png) 100% 100% no-repeat;
    background-size: cover;
    margin-top: 15px;
}


@media screen and (min-width: 1200px) and (max-width: 1550px) {
    .card-photo{
        height: 195px;
    }
}

@media screen and (min-width: 981px) and (max-width: 1199px) {
    .card-photo{
        height: 160px;
    }
}

@media screen and (max-width: 980px) {
    .card-photo {
        height: 155px;
    }
}

.card-text-photo{
    background: url(../img/black-card-photo.png) 100% 100% no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: CoCoGothic;
    font-size: 18px;
    color: white;
    background-size: cover;
}

.card-title{
    font-size: 24px;
}

.symbol-mail{
    font-family: "Century Gothic";
    font-weight: bold;
}
