/*////////////////////gallery///////////////////////*/


.photo-gallery{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
@media screen and (max-width: 1000px){
    .photo-gallery{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}


.added-photo-gallery{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
@media screen and (max-width: 1000px){
    .added-photo-gallery{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

.img{
    margin-bottom: 0.76vw;
}

.block-1{
    width: 39.94%;
}

.block-2{
    width: 59.28%;
}
@media screen and (max-width: 1000px) {
    .block-1{
        width: 100%;
    }

    .block-2{
        width: 100%;
    }
    .phone-img{
        margin-bottom: 1vw;
    }
    .img{
        margin-bottom: 1vw;
    }
}

.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.photo-gallery-width-2{
    width: 67.4%;
}

.photo-gallery-width-3{
    width: 31.32%;
}