.banner-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 410px;
    background: url('../img/info_main_top_block.png');
}

@media screen and (max-width: 1100px) {
    .banner-section {
        margin-top: 85px;
    }
}

.banner-title{
    font-size: 60px;
}

.banner-text{
    text-align: center;
    margin-top: 20px;
    color: white;
}

.main{
    width:100%;
}

.main-content{
    display: flex;
    flex-direction: row;
    margin-top: 4%;
    height: 100%;
    width: 100%;
}

.main-text-column{
    margin-left: 6.8%;
    margin-right: 3%;
    width: 23%;
}

@media screen and (max-width: 1100px) {
    .main-text-column{
        display: none;
    }
}

.main-text-column-2{
    width: 100%;
}

.main-text-column-2-content{
    margin-left: 2%;
    margin-right: 7.55%;
}

.text-paragraph{
    margin-bottom: 30px;
}

.bottom-banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 410px;
    margin-top: 60px;
    background: url('../img/info_main_bottom_block.png');
}

.bottom-banner-text{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 4%;
    width: 48%;
}

.bottom-banner-text-paragraph{
    width: 43%;
}

.below-main-content{
    margin-left: 6.8%;
    margin-right: 7.55%;
    justify-content: space-between;
    display:flex;
    flex-direction: row;
    margin-top: 2%;
}

.below-main-content-text-block{
    width: 45.6%;
}
